.footer {
    /* border: 1px solid red; */

    position: fixed;
    bottom: 0;
    height: 8%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: white;

    z-index: 1;
}

.footer-icons {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.5rem;
    width: 1.5rem;
}

#home {
    background-image: url('../images/icons/home.png');
}

#furniture {
    background-image: url('../images/icons/furniture.png');
}

#cart {
    background-image: url('../images/icons/cart.png');
}

#profile {
    background-image: url('../images/icons/profile.png');
}